main {
  max-width: 100%;
}

.hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/images/img2/Personal/DAN_5371.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.hero-content {
  position: absolute;
  width: 680px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  font-size: 40px;
}

.collabs {
  width: 50rem;
  margin: 5rem auto;
}

.collabs h3 {
  text-align: center;
  margin-bottom: 0.8rem;
}

.collab-grid {
  width: 100%;
}

.swiper {
  width: 100%;
  margin-top: 1rem;
}

.swiper-slide {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  color: #c4c4c4;
}

.swiper-wrapper {
  gap: 1rem;
}

#photo-grid {
  margin-top: 6rem;
}

#photo-grid h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  color: #333;
}

#main {
  margin: 2rem 3vw;
}

#filterBtn {
  max-width: 900px;
  display: flex;
  gap: .6rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#filterBtn::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  max-width: 100vw;
  gap: .5rem;
  align-items: center;
  justify-content: left;
  position: relative;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.gallery img {
  flex-grow: 1;
  width: 100%;
  /* max-width: 300px; */
  height: 400px;
  flex-basis: 300px;
  position: relative;
  cursor: pointer;
  object-fit: cover;
  filter: grayscale(20%);
  transition: filter .3s ease-in;
}

.gallery img:hover{
  filter: grayscale(0%);
}

#btn-tab {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  background-color: #dbdbdb;
  padding: .6rem 1.5rem;
  border-radius: 6px;
}

#left img,
#right img {
  width: 100%;
  border-radius: 50%;
  padding: 1px 7px;
  cursor: pointer;
}

#left img:hover,
#right img:hover {
  background: rgba(160, 160, 160, 0.61);
}

#left,
#right {
  width: 60px;
  height: 100%;
  top: 0;
  display: none;
  align-items: center;
  position: absolute;
  padding: 1rem;
}

#left.on,
#right.on {
  display: flex;
}

#left {
  left: 0;
  background: linear-gradient(to right, #cecece 50%, transparent);
  justify-content: flex-start;
}

#right {
  background: linear-gradient(to left, #cecece 50%, transparent);
  justify-content: flex-end;
  right: 0;
}

.btn {
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  outline: none;
  font-size: .8em;
  transition: ease-in .3s;
}

.btn:hover{
  background-color: #72727291;
}

.active {
  background: #727272;
  color: whitesmoke;
}

.hide {
  width: 0;
  height: 0;
  display: none;
}


@keyframes slideUp {
  from {
    transform: translateY(4%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#photo-grid .popup-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 800;
  display: none;
}

#photo-grid .popup-img span {
  background: none;
  font-size: 2.6rem;
  font-weight: bolder;
  top: 0;
  right: 0.6rem;
  position: absolute;
  color: #fff;
  cursor: pointer;
  height: 0vh;
}

#photo-grid .popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80vh;
  object-fit: contain;
  /* border: 3px #fff solid; */
}

.sidenav {
  width: 3rem;
  background-color: rgb(250, 250, 250);
  padding: 6px;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  background: none;
  text-decoration: none;
  display: block;
}

.sidenav a {
  padding: 0;
  margin: 10px;
}

.sidenav ._1:hover {
  color: rgb(74, 137, 214);
}

.siidenav ._2:hover {
  color: rgb(255, 24, 24);
}

.sidenav ._3:hover {
  color: rgb(37, 41, 45);
}

.sidenav a:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#up-scroll {
  position: fixed;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  bottom: 0;
  right: 0;
  margin: 30px 11px;
  color: rgb(52, 58, 64);
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  padding: 13px 9px 19px;
  border-radius: 50%;
  z-index: 1;
}

span:hover,
span:focus {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* light box */

#prev,
#next,
#closer {
  width: 1rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

#closer{
  padding: .4rem 1rem;
  margin: 1rem 0;
  border-radius: 50%;
  transition: ease 1s;
  width: fit-content;
}

#closer:hover{
  background: radial-gradient(#3333332c 50%,transparent);
}

#prev img,
#next img {
  width: 100%;
}

#preview-box {
  position: fixed;
  width: 100%;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #d6d6d6c0;
  padding: 0 5px 5px;
  opacity: 0;
  pointer-events: none;
  z-index: 100000;
  transition: all .3s ease;
}

#preview-box.show{
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
  transition: all .3s ease;
}

#details {
  display: flex;
  justify-content: flex-end;
}

#preview-box #img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#preview-box #img-box>img {
  max-width: 100%;
  height: 80vh;
  object-fit: cover;
}

.slide{
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  cursor: pointer;
  width: 60px;
  height: 50px;
  text-align: center;
}

#prev{
  left: 0;
  margin-left: 1rem;
}

#next{
  right: 0;
  margin-right: 1rem;
}

#shadow{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.856);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
}

#shadow.show{
  display: block;
}

/* Media Queries */

@media (max-width: 991px) {
  .hero-content {
    width: 880px;
  }


}

@media (max-width: 898px) {
  .hero-content {
    width: 760px;
  }

  .collabs {
    width: 40rem;
  }

  .collab-grid .grid-1 {
    gap: 0.8rem;
    max-width: 85%;
  }

}

@media (max-width: 776px) {
  .hero-content {
    width: 680px;
  }

  .collabs {
    width: 40rem;
  }

}

@media(max-width:676px) {

  .hero-content {
    width: 580px;
  }

  .collabs {
    width: 36rem;
  }

  .collab-grid .grid-1 {
    gap: 0.6rem;
    max-width: 90%;
  }

}

@media(max-width:590px) {

  .hero-content {
    width: 520px;
  }

}

@media(max-width:565px) {

  .hero-content {
    width: 480px;
  }

  .collabs {
    width: 30rem;
  }

  .collab-grid .grid-1 {
    gap: 0.4rem;
    max-width: 94%;
  }

}

@media(max-width:480px) {

  .hero-content {
    width: 440px;
  }

  .collabs {
    width: 28rem;
    padding: 1em;
  }

  #photo-grid .popup-img img {
    width: 90%;
    height: 50vh;
  }

}

@media(max-width:460px) {

  .hero-content {
    width: 400px;
  }

  .hero-content h1 {
    font-size: 32px;
    margin-bottom: 0.6rem;
  }

  #photo-grid h2 {
    font-size: 2.2rem;
  }

  .collabs {
    width: 24rem;
  }

}

@media(max-width:400px) {

  .hero-content {
    width: 380px;
  }

  .hero-content h1 {
    font-size: 30px;
    margin-bottom: 0.6rem;
  }

  #photo-grid h2 {
    font-size: 2.2rem;
  }

}

@media(max-width:380px) {

  .hero-content {
    width: 360px;
  }

  #photo-grid h2 {
    font-size: 2.2rem;
  }

  .collabs {
    width: 20em;
  }

  .swiper-slide {
    width: 30%;
    font-size: 1rem;
    margin-right: 1rem;
  }

}