.hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/images/img2/Personal/DAN_5464.jpg) fixed center center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  font-size: 40px;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  padding: 0 10vw;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
  transition: all 1s;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  color: #222;
  padding: .5rem;
  box-shadow: 1px 2px 16px #b9b9b985;
  border-radius: 9px;
}

.card:hover .image img{
  opacity: .5;
}

.card-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.play {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  background: #f73232;
  box-shadow: 0 0 0 10px rgba(218, 218, 218, 0.3);
  animation: ripple 3s infinite;
  padding: 10px;
  border-radius: 50%;

}

.spotify{
  background: green;
}

.apple{
  background-color: rgb(219, 219, 219);
}

.audiomack{
  background: orangered;
}

.play::after {
  content: "";
  position: absolute;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: #e4e4e4;
  box-shadow: 0 0 0 10px rgba(219, 219, 219, 0.3);
  bottom: 0%;
  left: 0%;
  animation: ripple 3s infinite;
  animation-delay: -.5s;
  border-radius: 50%;
  z-index: -1;
}

.play::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: #e4e4e4;
  box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.3);
  bottom: 0%;
  left: 0%;
  animation: ripple 3s infinite;
  animation-delay: -.1s;
  border-radius: 50%;
  z-index: -1;
}

.play img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 48%;
  padding-left: 2px;
  object-fit: cover;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}